{% extends "bootstrap/base.html" %}

{% block title %}File Uploader{% endblock %}

{% block head %}
{{ super() }}

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/static/assets/css/material-dashboard.css" />

{% endblock %}



{% include 'sidebar.html' %}
<!-- End Navbar -->

{% block content %}{% endblock content %}


{% include 'fixed-plugin.html' %}

{% include 'scripts.html' %}

{% include 'scripts-sidebar.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}



{% block scripts %}
{{ super() }}

{% endblock %}