{% extends 'base.html' %}
{% block title %}Design Smells{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Showing Distribution of Detected Design Smells</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        {% for key, value in data.items() %}
    {% if value is string %}
    ['{{ key }}', '{{ value }}'],
      {% else %}
    ['{{ key }}', {{ value }}],
      {% endif %}
    {% endfor %}
                ]);

    var options = {
      title: 'Design Smells',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    function selectHandler() {
      var selectedItem = chart.getSelection()[0];

      if (selectedItem) {
        var smell_name = data.getValue(selectedItem.row, 0);
        if (smell_name == 'Long Method(LM)') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            var col2 = $('<th></th>').text('Line Number');
            var col3 = $('<th></th>').text('Class Name');
            var col4 = $('<th></th>').text('Method Name');
            var col5 = $('<th></th>').text('Method Length');
            var col6 = $('<th></th>').text('Normal Threshold');
            th_row.append(col1,col2, col3,col4,col5,col6);
            $('#table_div thead').append(th_row);

            {% for x, y in lm.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['line_number'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['class_name'] }}');
            var col4 = $('<td></td>').addClass('bar').text('{{ y['function_'] }}');
            var col5 = $('<td></td>').addClass('bar').text('{{ y['value'] }}');
            var col6 = $('<td></td>').addClass('bar').text('{{ y['normal'] }}');
            row.append(col1, col2, col3, col4, col5, col6);
            $('#table_div table').append(row);
            {% endfor %}
            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');
            
          }
        }

        else if (smell_name == 'Long Parameter List') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            var col2 = $('<th></th>').text('Line Number');
            var col3 = $('<th></th>').text('Class Name');
            var col4 = $('<th></th>').text('Method Name');
            var col5 = $('<th></th>').text('Number of Parameters');
            var col6 = $('<th></th>').text('Normal Threshold');
            th_row.append(col1,col2, col3,col4,col5,col6);
            $('#table_div thead').append(th_row);
            {% for x, y in lpl.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['line_number'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['class_name'] }}');
            var col4 = $('<td></td>').addClass('bar').text('{{ y['function_'] }}');
            var col5 = $('<td></td>').addClass('bar').text('{{ y['value'] }}');
            var col6 = $('<td></td>').addClass('bar').text('{{ y['normal'] }}');
            row.append(col1, col2, col3, col4, col5, col6);
            $('#table_div table').append(row);
            {% endfor %}
            
            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');
          }
        }

        else if (smell_name == 'Data Class') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            // var col2 = $('<th></th>').text('Line Number');
            var col2 = $('<th></th>').text('Class Name');
            var col3 = $('<th></th>').text('Number of Accessors');
            var col4 = $('<th></th>').text('Normal Threshold');
            th_row.append(col1,col2, col3,col4);
            $('#table_div thead').append(th_row);
            {% for x, y in data_class.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['class_name'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['value'] }}');
            var col4 = $('<td></td>').addClass('bar').text('{{ y['normal'] }}');
            row.append(col1, col2, col3, col4);
            $('#table_div table').append(row);
            {% endfor %}

            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');
          }
        }

        else if (smell_name == 'God Class') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            // var col2 = $('<th></th>').text('Line Number');
            var col2 = $('<th></th>').text('Class Name');
            var col3 = $('<th></th>').text('Violations of metrics');
            th_row.append(col1,col2, col3);
            $('#table_div thead').append(th_row);
            {% for x, y in god_class.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['class_name'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['violations'] }}');
            row.append(col1, col2, col3, col4);
            $('#table_div table').append(row);
            {% endfor %}

            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');
          }
        }



        else if (smell_name == 'Long Base Class List(LBCL)') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            var col2 = $('<th></th>').text('DIT List');
            var col3 = $('<th></th>').text('DIT Value');
            var col4 = $('<th></th>').text('Normal Threshold');
            th_row.append(col1,col2, col3,col4);
            $('#table_div thead').append(th_row);
            {% for x, y in lbcl.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['DIT List'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['value'] }}');
            var col4 = $('<td></td>').addClass('bar').text('{{ y['normal'] }}');
            row.append(col1, col2, col3, col4);
            $('#table_div table').append(row);
            {% endfor %}

            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');

          }
        }

        else if (smell_name == 'Large Class(LC)') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            var col2 = $('<th></th>').text('Line Number');
            var col3 = $('<th></th>').text('Class Name');
            var col4 = $('<th></th>').text('Class LOC');
            var col5 = $('<th></th>').text('Normal Threshold');
            th_row.append(col1,col2, col3,col4,col5);
            $('#table_div thead').append(th_row);
            {% for x, y in lc.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['line_number'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['class_name'] }}');
            var col4 = $('<td></td>').addClass('bar').text('{{ y['loc'] }}');
            var col5 = $('<td></td>').addClass('bar').text('{{ y['normal'] }}');
            row.append(col1, col2, col3, col4, col5);
            $('#table_div table').append(row);
            {% endfor %}

            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');
          }
        }

        else if (smell_name == 'Swiss Army Knife') {
          $('#table_div').find('td').detach();
          $('#table_div').find('th').detach();
          if ($('#table_div table').length > 0) {
            var th_row = $('<tr></tr>');
            var col1 = $('<th></th>').text('Filename');
            var col2 = $('<th></th>').text('Line Number');
            var col3 = $('<th></th>').text('Class Name');
            var col4 = $('<th></th>').text('Number of Superclasses');
            var col5 = $('<th></th>').text('Normal Threshold');
            th_row.append(col1,col2, col3,col4,col5);
            $('#table_div thead').append(th_row);
            {% for x, y in sak.items() %}
            var row = $('<tr class = table-danger ></tr>');
            var col1 = $('<td></td>').addClass('bar').text('{{ x }}');
            var col2 = $('<td></td>').addClass('bar').text('{{ y['line_number'] }}');
            var col3 = $('<td></td>').addClass('bar').text('{{ y['class_name'] }}');
            var col4 = $('<td></td>').addClass('bar').text('{{ y['value'] }}');
            var col5 = $('<td></td>').addClass('bar').text('{{ y['normal'] }}');
            row.append(col1, col2, col3, col4, col5);
            $('#table_div table').append(row);
            {% endfor %}

            $('#table_div h2').text(smell_name);
            $('#table_div p').text('Showing details of' + " " + smell_name + " " + 'smell detected');
          }
        }
    }
    }
    google.visualization.events.addListener(chart, 'select', selectHandler);
    google.visualization.events.addListener(chart, 'onmouseover', pointer);
    google.visualization.events.addListener(chart, 'onmouseout', default_pointer);
    chart.draw(data, options);
    var barchart_options = {
      title: 'Barchart: How much each design smell contribute?',
      width: 400,
      height: 300,
      legend: 'none'
    };
    var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
    barchart.draw(data, barchart_options);

    function pointer() {
      $('#piechart_3d').css('cursor', 'pointer')
    }
    function default_pointer() {
      $('#piechart_3d').css('cursor', 'default')
    }
      }

  </script>
</head>

<body>
  <div class="container" id="table_div">
    <h3>Showing Distribution of Detected Design Smells</h3>
    <div id="piechart_3d" style="width: 800px; height: 500px;">
    </div>
    <h3>Total Number of Detected Smells</h3>
    {{total}}


    <div className="col-sm-8 mx-auto">
      <div class="card">
        <div class="card-header card-header-info">
          <h2 class="card-title">Smell Name </h2>
          <p>Showing details of that smell detected </p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">

           <thead>
              </thead>
          </table>
        </div>
      </div>
    </div>
    <div id="barchart_div" style="width: 200px; height: 500px;"></div>
  </div>
</body>

</html>

{% endblock %}