<head>
<title>SDQA</title>
</head>

{% block content %}

<header class="masthead">
    <div class="container-fluid" style="background-image: url(/static/assets/img/background.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
      <div class="intro-text">
        <div class="intro-heading text-uppercase" style= "color: white;" >Welcome to SDQA!</div>
        <div class="intro-lead-in" style= "color: yellow;">Softwared Design Quality Analyzer - <br>A Tool to Reduce Technical Dept!</div>
        <br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/dashboard">Get Started</a>
      </div>
    </div>
  </header>

{% endblock %}

{% block scripts %}
<link href="static/assets/css/index.css" rel="stylesheet">
{% endblock %}