{% extends "base.html" %}
{% block title %}Detailed Metric Analysis{% endblock %}

{% block content %}
<head>
    <style>
        .funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: black;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: black;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: black;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

    </style>
</head>

<div class="container">

    <h2 class="text-center">Detailed Metric Analysis</h2>
    <p class="text-center">Select any Metric to see detailed Analysis</p>
    <div class="row">

        <div class="col-md-6">
            <h2>Class Level Metrics</h2>
            <form method="POST" action="/metrics">
                <div class="funkyradio">
                    <div class="funkyradio-default">
                        <input type="radio" name="options" id="radio1" value="LOC" checked/>
                        <label for="radio1">LOC</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio2" value="LCOM" />
                        <label for="radio2">LCOM</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio3" value="Number of Methods" />
                        <label for="radio3">Number of Methods</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio4" value="Number of Public Methods" />
                        <label for="radio4">Number of Public Methods</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio5" value="Number of Fields" />
                        <label for="radio5">Number of Fields</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio6" value="WMC" />
                        <label for="radio6">Weighted Method per Class - WMC</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio7" value="Number of Superclasses" />
                        <label for="radio7">Number of Superclasses</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="options" id="radio8" value="Number of Accessors" />
                        <label for="radio8">Number of Accessors</label>
                    </div>
    
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i>
                    Analyze Code
                </button>
            </form>
        </div>

        <div class="col-sm-6">
            <h2>Method Level Metrics</h2>

            <form method="POST" action="/metrics">
                <div class="funkyradio">
                <div class="funkyradio-primary">
                    <input type="radio" name="options" id="radio9" value="Cyclomatic Complexity"/>
                    <label for="radio9">Cyclomatic Complexity</label>
                </div>
                <div class="funkyradio-primary">
                    <input type="radio" name="options" id="radio10" value="Number of Parameters" />
                    <label for="radio10">Number of Parameters</label>
                </div>
                <div class="funkyradio-primary">
                    <input type="radio" name="options" id="radio11" value="Methods-LOC" />
                    <label for="radio11">Methods-LOC</label>
                </div>
            </div>

                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i>
                    Analyze Code
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div className="jumbotron mt-5">
        <div className="col-sm-8 mx-auto">
            <table class="table">
                {%if selected_option == "LCOM" %}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <tbody>
                    <!-- For loop logic of jinja template -->
                    {% set count = namespace(value=0) %}
                    {% for i in lcom %}
                    {% if i != '' %}
                    {% if i != '+-----------------------------+------+' %}
                    {% if i != 'Calculating LCOM using LCOM4' %}
                    {% if i != '| Method                      | LCOM |' %}

                    <tr>
                        <td> {{ filename }} </td>
                        <td> {{ i }} </td>
                        <td> {{threshold[count.value]}} </td>
                        {% set count.value = count.value + 1 %}
                    </tr>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
                {%endif%}
                {%if selected_option == "Number of Methods" or selected_option == "Number of Public Methods" or selected_option == "Number of Fields"%}
                {% include "chart.html" %}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <tbody>
                    <!-- For loop logic of jinja template -->
                    {% set count = namespace(value=0) %}
                    {% for filename,field in dict.items() %}
                    <tr>
                        <td> {{ filename }} </td>
                        <td> {{ field }} </td>
                        <td> {{threshold[count.value]}} </td>
                        {% set count.value = count.value + 1 %}
                    </tr>
                    {% endfor %}
                </tbody>
                {%endif%}
                {%if selected_option == "Number of Accessors"%}
                {% include "chart.html" %}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong> Class Name </strong> </th>
                    <th scope="col"> <strong>{{selected_option}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <tbody>
                    <!-- For loop logic of jinja template -->
                    {% set count = namespace(value=0) %}
                    {% for filename, val in NOA.items() %}
                    {% for class_ , val2  in val.items() %}
                    <tr>
                        <td> {{ filename }} </td>
                        <td> {{ class_ }} </td>
                        <td> {{ val2 }} </td>
                        <td> {{threshold[count.value]}} </td>
                        {% set count.value = count.value + 1 %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
                {%endif%}
                {%if selected_option == "Cyclomatic Complexity"%}
                <!-- {% include "chart.html" %} -->
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <tbody>
                    <!-- For loop logic of jinja template -->
                    {% for x,y in cc_value2.items() %}
                    {% for i in y %}
                    <tr>
                        <td> {{ x }} </td>
                        <td> {{ i }} </td>
                        <td> {{threshold}} </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
                {%endif%}
                {%if selected_option == "LOC"%}
                {% include "chart.html" %}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <tbody>
                    <!-- For loop logic of jinja template -->
                    {% for file,val in loc.items() %}
                    {% for x in val %}
                    <tr>
                        <td> {{ file }} </td>
                        <td> {{ x }} </td>
                        <td> {{ "-" }} </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>

                <head>
                    <meta charset="UTF-8">
                    <title>Showing Distribution of Detected Design Smells</title>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        google.charts.load("current", { packages: ["corechart"] });
                        google.charts.setOnLoadCallback(drawChart);
                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                {% for key, value in data.items() %}
                        {% if value is string %}
                        ['{{ key }}', '{{ value }}'],
                            {% else %}
                        ['{{ key }}', {{ value }}],
                            {% endif %}
                        {% endfor %}
                                ]);

                        var options = {
                            title: 'Classes Distributions',
                            is3D: true,
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                        function selectHandler() {
                            var selectedItem = chart.getSelection()[0];
                            if (selectedItem) {
                                var topping = data.getValue(selectedItem.row, 0);
                                alert('Detailed page will be opened for ' + topping);
                            }
                        }
                        google.visualization.events.addListener(chart, 'select', selectHandler);
                        chart.draw(data, options);
                      }
                    </script>
                </head>
                <div style="margin: 10px 0 0 10px;width: 1000px">
                    <h3>Detailed Metrics Analysis</h3>

                    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
                </div>
                {%endif%}
                {%if selected_option == "Number of Parameters"%}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <!-- {% include "chart.html" %} -->
                <tbody>
                    <!-- For loop logic of jinja template -->
                    <tr>
                        {% set count = namespace(value=0) %}
                        {% for filename,y in parameters.items() %}

                        {% for def,val in y.items() %}

                        <td> {{ filename }} </td>
                        <td> {{ def,val }} </td>
                        <td> {{threshold[count.value]}} </td>
                        {% set count.value = count.value + 1 %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
                {%endif%}
                {%if selected_option == "WMC"%}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <!-- {% include "chart.html" %} -->
                <tbody>
                    {% for x,y in wmc.items() %}
                    </tr>
                    <tr>
                    <tr>
                        <td> {{ filename }} </td>
                        <td> {{ x,y }} </td>
                        <td> {{threshold}} </td>
                    </tr>
                    </tr>
                    {% endfor %}
                </tbody>
                {%endif%}

                {%if selected_option == "Number of Method Line of Code"%}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <!-- {% include "chart.html" %} -->
                <tbody>
                    {% for x,y in NOA.items() %}
                    </tr>
                    <tr>
                    <tr>
                        <td> {{ filename }} </td>
                        <td> {{ x,y }} </td>
                        <td> {{threshold}} </td>
                    </tr>
                    </tr>
                    {% endfor %}
                </tbody>
                {%endif%}

                {%if selected_option == "Methods-LOC"%}
                <thead>
                    <th scope="col"> <strong>Filename</strong> </th>
                    <th scope="col"> <strong> Method Name </strong> </th>
                    <th scope="col"> <strong>{{selected_option}}{{" value"}}</strong> </th>
                    <th scope="col"> <strong>Threshold Result </strong> </th>
                </thead>
                <tbody>
                    <!-- For loop logic of jinja template -->
                    {% set count = namespace(value=0) %}
                    {% for file,val in NOML.items() %}
                    <tr>
                        <td> {{ filename }} </td>
                        <td> {{ file, }} </td>
                        <td> {{ val|length }} </td>
                        <td> {{threshold[count.value]}} </td>
                        {% set count.value = count.value + 1 %}
                    </tr>
                    {% endfor %}
                    {%endif%}

                    {%if selected_option == "Number of Superclasses"%}
                    <thead>
                        <th scope="col"> <strong>Filename</strong> </th>
                        <th scope="col"> <strong> Class name </strong> </th>
                        <th scope="col"> <strong> Names of Superclasses </strong> </th>
                        <th scope="col"> <strong>{{selected_option}}</strong> </th>
                        <th scope="col"> <strong>Threshold Result </strong> </th>
                    </thead>
                    <tbody>
                        <!-- For loop logic of jinja template -->
                        {% set count = namespace(value=0) %}
                        {% for filename ,val in SUP.items() %}
                        {% for x,y in val.items() %}
                        <tr>
                            <td> {{ filename }} </td>
                            <td> {{ x }} </td>
                            <td> {{ y }} </td>
                            <td> {{ y|length }} </td>
                            <td> {{threshold[count.value]}} </td>
                            {% set count.value = count.value + 1 %}
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {%endif%}

            </table>
        </div>
    </div>

    <script>
        $('span.metrics').css('cursor', 'pointer').on('click', function () {
            var radio = $(this).find('input[type=radio]'); // the input
            if (radio.prop('checked')) {
                radio.prop('checked', false); // checking false
            } else {
                radio.prop('checked', true); //checking true
            }
        });
    </script>

    {% endblock %}