{% extends 'base.html' %}

{% block head %}
{% block title %}Trend Analysis{% endblock %}
{% endblock %}

{% block content %}

<div class="container">
    <h2>Trend Analysis for uploaded codes</h2>
    <div class="card-body table-responsive">
        <table class="table table-hover">

         <thead>
             <th>
                Previous Version
             </th>

             <th> Upload evolved Version </th>
            </thead>
            <tbody>
                {% for files in lis %}
                <tr>
                    <td name = "pr_file" >
                        {{ files }}
                    </td>
                    <td>
                        <form method="POST" action="/trend_analysis" enctype="multipart/form-data">
                            <input type="file" id="file" name="file" accept=".py" required>
                            <input type="hidden" id="file2" name="file2" value= "{{ files }}" >

                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Compare Codes</span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <h3>Previous Version</h3>
                {% for val in previous_content %}
                <p>
                    {{val}}
                </p>
                {% endfor %}
            </div>

            <div class="col-sm-4" style="border: 1px solid;">
                <h3>New Version</h3>
                {% for val in new_content %}
                <p>
                    {{val}}
                </p>
                {% endfor %}
            </div>

            <div class="col-sm-4" style="border: 1px solid;">
                <h3>Code Changes</h3>
                {% for val in array %}
                <p style="background-color: yellow;">
                    {{val}}
                </p>
                {% endfor %}
            </div>
        </div>

        <h2>Previous Smells</h2>
        {{ previous_smells }}
        <h2>New Smells</h2>
        {{new_smells}}
            
      </div>
</div>

{% endblock %}