{% extends 'base.html' %}
{% block title %}Trend Analysis{% endblock %}

{% block head %}

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="/static/assets/css/material-dashboard.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
{% endblock %}

{% block content %}
<div class="container">
    <h2>Trend Analysis for uploaded codes</h2>
    <div class="card-body table-responsive">
        <table class="table table-hover">

         <thead>
             <th>
                Previous Version
             </th>

             <th> Upload evolved Version </th>
            </thead>
            <tbody>
                {% for files in lis %}
                <tr>
                    <td name = "pr_file" >
                        {{ files }}
                    </td>
                    <td>
                        <form method="POST" action="/trend_analysis" >
                            <input type="file" id="file" name="file" accept=".py">
                            <input type="hidden" id="file2" name="file2" value= "{{ files }}" >

                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Compare Codes</span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-sm-4" style="border: 1px solid;">
                <h3>Previous Version</h3>
                {% for val in previous_content %}
                <p>
                    {{val}}
                </p>
                {% endfor %}
            </div>

            <div class="col-sm-4" style="border: 1px solid;">
                <h3>New Version</h3>
                {% for val in new_content %}
                <p>
                    {{val}}
                </p>
                {% endfor %}
            </div>

            <div class="col-sm-4" style="border: 1px solid;">
                <h3>Code Changes</h3>
                {% for val in array %}
                <p style="background-color: yellow;">
                    {{val}}
                </p>
                {% endfor %}
            </div>

        </div>
            
      </div>
</div>

{% endblock %}